name: Tests (conda-forge)

on:
  push:
    branches: [main, feature_pytest_click]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
        python-version: ['3.9', '3.10', '3.11']
    steps:
    - uses: actions/checkout@v3  # for the test data
    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        channels: conda-forge
        channel-priority: true
        activate-environment: test
        miniforge-variant: Mambaforge
    - name: Install dependencies
      run: |
        mamba info
        mamba list
        mamba install -c conda-forge rasterio opencv click tqdm pyyaml pytest pytest-cov
        mamba list
    - name: Run unit tests
      run: |
        python -m pytest --cov=simple_ortho --cov-report=term-missing --cov-report=xml:coverage.xml ./tests
